POSTGRES_USER = setYourUser
POSTGRES_PASSWORD = setYourPassword
POSTGRES_DB = setYourTestDatabaseName
JWT_SECRET = setYourJwtSecret


# This file is for the DEDICATED TEST database, separate from your development database.
# Change the values to match your setup, using a database name different from the one in .env
DATABASE_URL="postgresql://POSTGRES_USER:POSTGRES_PASSWORD@localhost:5432/POSTGRES_DB?schema=public"