POSTGRES_USER = setYourUser
POSTGRES_PASSWORD = setYourPassword
POSTGRES_DB = setYourDatabaseName
JWT_SECRET = setYourJwtSecret


# change the values of the environment variables in the .env file to match your PostgreSQL database values. Then, make sure that the database URL in DATABASE_URL correctly reflects these values.
DATABASE_URL="postgresql://POSTGRES_USER:POSTGRES_PASSWORD@localhost:5432/POSTGRES_DB?schema=public"